:root {
  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #9370d880;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #9370d8;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
  --font: 'Reggae One', fantasy;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #493969;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #9370d8;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }

  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

body>main {
  font-family: var(--font);
}

body>header {
  font-family: var(--font);
  padding: 2rem 0.5rem 2rem 0.5rem
}

button {
  font-family: var(--font);
}

.center {
  text-align: center;
}